*{
    padding : 0px;
    margin : 0px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

#botones button{
    text-align: center;
    transition: all 0.09s;
    margin: 2px 0px;
    font-size: 20px;
    width: 54px;
    height: 54px;
    padding: 9px 15px;
    color: #fff;
    border: none;
}